/****************
General
****************/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Georgia, sans-serif;
  font-size: 1em;
  /* Use later */
  /*padding-top: 250px;  Move content hidden by "fixed" header*/
}

p {
  line-height: 1.4;
}

/****************
Layout
****************/
.wrapper {
  min-height: calc(100vh - 68px);
}

.mainHeader {
  text-align: center;
  min-height: 250px;
  /* Use later */
  /*width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;*/
}

.mainWrapper {
  padding-left: 1em;
  padding-right: 1em;
}

.arrow {
  width: 40px;
  padding-top: 200px;
}

.sectionTwo input,
.sectionTwo select {
  display: block;
  font-family: Georgia, sans-serif;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}

.sectionTwo select {
  width: 160px;
}

.daysOfWeek td {
  display: block;
  border: 1px solid;
  padding-right: 20px;
  padding-left: 3px;
  font-weight: bold;
}

footer {
  text-align: center;
  padding: 25px 0;
  font-weight: bold;
}

/****************
Layout Styles
****************/

/****************
Clear
****************/
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/****************
Queries
****************/
/* Notes: Do mobile-first approach, adding media queries later. */

/****************
Colors
****************/
body {
  background: rgba(220, 140, 56, .8);
}

.mainHeader {
  background: url('../img/pexels-photo-48663.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  background: rgba(178, 45, 27, .95);
}
