/****************
General
****************/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Georgia, sans-serif;
  font-size: 1em;
  /* Maybe use */
  /*padding-top: 250px;  Move content hidden by "fixed" header*/
}

p {
  line-height: 1.5;
}

/****************
Layout
****************/
.wrapper {
  min-height: calc(100vh - 68px);
}

.mainHeader {
  text-align: center;
  min-height: 250px;
  margin-bottom: 25px;
  /* Maybe use */
  /*width: 100%;
  position: fixed;
  z-index: 100;
  top: 0;*/
}

.mainWrapper {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
}

.arrow {
  width: 40px;
  padding-top: 200px;
}

.sectionTwo,
.sectionThree {
  float: left;
}

.sectionTwo input,
.sectionTwo select {
  display: block;
  font-family: Georgia, sans-serif;
  margin-bottom: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
}

.sectionTwo select,
.day {
  width: 160px;
}

.daysOfWeek td {
  display: block;
  border: 1px solid;
  padding-right: 20px;
  padding-left: 3px;
  font-weight: bold;
  margin-left: 10px;
  line-height: 1.5em;
}

.daysOfWeek { /* table */
  margin-top: -2px;
}

footer {
  text-align: center;
  padding: 25px 0;
  font-weight: bold;
}

/****************
Layout Styles
****************/
.sectionTwo input,
.sectionTwo select {
  outline: none;
  cursor: pointer;
  background: lightgray;
  border: 2px solid transparent;
}

.sectionTwo input:hover,
.sectionTwo select:hover,
.sectionTwo input:focus,
.sectionTwo select:focus {
  border: 2px solid seagreen;
}

.sectionTwo [type=button] {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background: rgba(220, 82, 82, 1);
  border: 2px solid transparent; /* Setting size and transparency prevent shifting content on "hover" or "focus" */
  font-size: 1.1em;
}

.sectionTwo [type=button]:hover,
.sectionTwo [type=button]:focus {
  border: 2px solid;
}

/****************
Colors
****************/
body {
  background: rgba(220, 140, 56, .8);
}

.mainHeader {
  background: url('../img/pexels-photo-48663.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  background: rgba(178, 45, 27, .95);
}

.daysOfWeek td {
  background: lightseagreen;
}

/****************
Queries
****************/
@media (min-width: 700px) {
  .mainWrapper {
    width: 90%;
    margin: 0 auto;
  }

  .col {
    float: left;
    padding-right: 1em;
    padding-left: 1em;
  }

  .sectionOne {
    width: 70%;
  }

  .sectionTwo,
  .sectionThree {
    width: 30%;
    margin-top: 1em;
  }

  .sectionThree {
    margin-bottom: 8px;
  }

  p {
    font-size: 1.1em;
  }

  .sectionTwo [type=button]:hover,
  .sectionTwo [type=button]:focus {
    text-transform: uppercase;
    border: 2px solid;
  }
}

@media (min-width: 1025px) {
  .mainWrapper {
    width: 80%;
    max-width: 1150px;
  }
}

/****************
Clear
****************/
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
