/****************
General
****************/
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Georgia, sans-serif;
  font-size: 1em;
}

p {
  line-height: 1.4;
}

.sectionTwo input {
  display: block;
  font-family: Georgia, sans-serif;
}

/****************
Layout
****************/
.mainHeader {
  text-align: center;
}

.mainWrapper {
  margin: 0 auto;
  max-width: 1000px;
}

footer {
  text-align: center;
}
/****************
Queries
****************/

/****************
Colors
****************/
body {
  background: linen;
}


/* Notes: Do mobile-first approach, adding media queries later. */
